body {
    font-family: arial, sans-serif;
    font-size: 14px;
}

#top-div {
    height: 70px;
    display: flex;
    align-items: center;
}

#google-logo {
    width: 92px;
    margin-left: 20px;
}

#search-bar {
    width: 692px;
    height: 46px;
    border-radius: 24px;
    box-shadow: none;
    border: 1px solid #dfe1e5;
    background-color: white;
    font-size: 16px;
    margin-left: 40px;
    padding-left: 19px;
}

#search-bar:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

@media screen and (min-width: 800px) {
    #twelve-dots-icon {
        padding-left: 400px;
    }

    #first-link {
        padding-left: 165px;
    }
    
    nav {
        box-shadow: none;
        border-bottom: 1px solid #dfe1e5;
    }

    .container {
        padding-left: 175px;
    }
}

#twelve-dots-icon {
    width: 30px;
    height: 15px;
}

#user-logo {
    width: 30px;
    padding-left: 15px;
}

nav {
    display: flex;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
    padding: 10px;
    font-size: 13px;
}

#first-link {
    color: #1A73E8;
    text-decoration: none;
}

a > span {
    padding-right: 7px;
}

.nav-link {
    color: #5f6368;
    text-decoration: none;
}

.container {
    width: 600px;
}

#results {
    color: #70757a;
    line-height: 43px;
    margin-bottom: 5px;
}

.site {
    color: #202124;
    margin-bottom: 7px;
}

.div-link {
    font-size: 20px;
    margin-bottom: 7px;
}

.big-link {
    color: #1a0dab;
    text-decoration: none;
}

.big-link:hover {
    text-decoration: underline;
}

.big-link:visited {
    color: #609;
}

.description {
    color: #5f6368;
    margin-bottom: 5px;
}

#last-visit {
    color: #70757a;
    margin-bottom: 20px;
}

.indented-results {
    display: flex;
    flex-flow: column wrap;
    padding-left: 25px;
}