nav {
    height: 70px;
    line-height: 70px;
    
}

#google-logo {
    width: 92px;
}

#search-bar {
    width: 692px;
    height: 46px;
    border-radius: 24px;
    box-shadow: none;
    border: 1px solid #dfe1e5;
    background-color: white;
    font-size: 16px;
}

#search-bar:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

#twelve-dots-icon {
    width: 30px;
    height: 15px;
    margin-top: 20px;
}

#user-logo {
    width: 30px;
    margin-top: 10px;
}