body {
    font-family: arial, sans-serif;
    font-size: 14px;
}

#top-div {
    height: 70px;
    display: flex;
    align-items: center;
}

#google-logo {
    width: 92px;
    margin-left: 20px;
}

#search-bar {
    width: 692px;
    height: 46px;
    border-radius: 24px;
    box-shadow: none;
    border: 1px solid #dfe1e5;
    background-color: white;
    font-size: 16px;
    margin-left: 40px;
    padding-left: 19px;
}

#search-bar:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

@media screen and (min-width: 800px) {
    #twelve-dots-icon {
        padding-left: 400px;
    }

    #first-link {
        padding-left: 165px;
    }
    
    nav {
        box-shadow: none;
        border-bottom: 1px solid #dfe1e5;
    }

    .container {
        padding-left: 175px;
    }

    #google-letters {
        padding-left: 200px;
    }

    #number-links {
        margin-left: 200px;
    }

    .footer-bar {
        padding-left: 175px;
    }
}

#twelve-dots-icon {
    width: 30px;
    height: 15px;
}

#twelve-dots-icon:hover {
    opacity: .75;
}

#user-logo {
    width: 30px;
    padding-left: 15px;
}

#user-logo:hover {
    opacity: .75;
}

nav {
    display: flex;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.top-list {
    float: left;
    padding: 10px;
    font-size: 13px;
}

#first-link {
    color: #1A73E8;
    text-decoration: none;
}

a > span {
    padding-right: 7px;
}

.nav-link {
    color: #5f6368;
    text-decoration: none;
}

.container {
    width: 600px;
}

#results {
    color: #70757a;
    line-height: 43px;
}

.site {
    color: #202124;
    padding-top: 30px;
    padding-bottom: 7px;
}

#first-site {
    padding-top: 5px;
}

.div-link {
    font-size: 20px;
    margin-bottom: 7px;
}

.big-link {
    color: #1a0dab;
    text-decoration: none;
}

.big-link:hover {
    text-decoration: underline;
}

.big-link:visited {
    color: #609;
}

.description {
    color: #5f6368;
    margin-bottom: 5px;
}

#last-visit {
    color: #70757a;
    margin-bottom: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
  
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    padding-left: 25px;
}

.path {
    color: #5f6368;;
}

h2 {
    font-weight: normal;
    font-size: 20px;
    color: #222;
    padding: 10px 0;
}

.bottom-links {
    line-height: 24px;
    font-size: 16px;
    color: #1a0dab;
    text-decoration: none;
}

.bottom-links:hover {
    text-decoration: underline;
}

#google-letters {
    display: flex;
}

#upper-blue-g {
    background: url(https://www.google.com/images/nav_logo299.webp) no-repeat;
    background-position: -24px 0;
    width: 28px;
    height: 40px;
}

#red-o {
    background: url(https://www.google.com/images/nav_logo299.webp) no-repeat;
    background-position: -53px 0;
    width: 20px;
    height: 40px;
}

.yellow-o {
    background: url(https://www.google.com/images/nav_logo299.webp) no-repeat;
    background-position: -74px 0;
    width: 20px;
    height: 40px;
}

#colored-gle {
    background: url(https://www.google.com/images/nav_logo299.webp) no-repeat;
    background-position: -96px 0;
    width: 71px;
}

#number-links {
    display: flex;
    padding-left: 35px;
    padding-bottom: 25px;
}

#number-one {
    text-decoration: none;
}

.blue-number-links {
    color: #4285f4;
    text-decoration: none;
    padding-left: 12px;
}

.blue-number-links:hover {
    text-decoration: underline;
}

#more {
    padding-left: 50px;
}

footer {
    color: rgba(0,0,0,.54);
    background: #f2f2f2;
    line-height: 40px;
    border-top: 1px solid #e4e4e4;
}

.footer-bar {
    border-bottom: 1px solid #e4e4e4;
}

#bolinha {
    border-radius: 100%;
    display: inline-block;
    height: 10px;
    margin: 6px 4px 9px 0;
    vertical-align: middle;
    width: 10px;
    background: #9e9e9e;
}

#location {
    color: #333;
    font-weight: bold;
}

.footer-links {
    color: rgba(0,0,0,.54);
    text-decoration: none;
}

.footer-links:hover {
    color: #333;
}

.footer-padding {
    padding-right: 20px;
}

.fa-star {
    color: orange;
}

#panel {
    width: 454px;
    height: 422px;
}

#panel-header {
    display: flex;
}

#header-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#h1-div {
    width: 303px;
}

h1 {
    color: rgba(0,0,0,.87);
    font-size: 30px;
    font-weight: normal;
    display: inline;
}

.fa-share-alt {
    padding-left: 15px;
}

#empresa {
    line-height: 1.58;
}

#img-div {
    width: 151px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#odin-img {
    width: 151px;
    height: 79px;
}

.bold-panel-link {
    font-weight: bolder;
    color: #222;
    text-decoration: none;
}

.underline-hover:hover {
    text-decoration: underline;
}

#blue-link {
    color: #1a0dab;
    text-decoration: none;
}

.line-div {
    line-height: 1.58;
}

#exoneracao {
    float: right;
    text-decoration: none;
}